<% breite=100 %>
<%= render(:partial => "/shared/typheader", :locals => { :panel=>@panel } )%><br/>
<% height = get_panel_spinner_height(@panel.bdtype_id) %>

<div style="display:none;" id="div-loader-1" class="relative">
	<div class="loader-home" style="height:<%=height%>px;"> 
		<img alt="Loading..." src="/images/ajax-loader.gif"> 
	</div>
</div>

<table border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>
			<%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'quellen', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button'} %>
		</td>

		<td>
			<%= button_to "Clear Quellen", {:controller => "bediengeraets", :action=>"clear_section", :part=>'quellen', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Quellen')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button'} %>
		</td>

		<td style="width:250px;" class="btn-space">
			<%=render :partial => "shared/add_normal_quelle"%>
		</td>

		<td style="width:250px;">
			<%=render :partial => "shared/remove_normal_quelle"%>
		</td>
		<td style="width:350px;">
			<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
			<table width="100%">
			<tr>
				<td>
					<strong>Label: </strong>
					<%= select :bediengeraets, :label_quellen, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_quellen}, {:onchange=>"document.getElementById('submit').click();"}%>
				</td>
				<td style="width:200px;">
					<strong>Font: </strong>
					<%=select :bediengeraets, :font_quellen, @quellen_font,{:selected => @panel.font_quellen.to_s}, {:onchange=>"document.getElementById('submit').click();"}%>
				</td>
				<input type="image" src="/images/blank.png" id="submit" width="0" height=0>
			</tr>
			</table>		
			<%end%>
		</td>
	</tr>
</table> <br/>

<!-- Normalquellen -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Quelle Normalbetrieb</td>
  </tr>
  <tr>
	<td class="ibtSubTitle">Page 1</td>
  </tr>
  <tr>
    <td>
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">
      <tr>
		<td class="ibtTitleborder grey">Taste Nr.</td>
		<% start1 = 0
			16.times do %>
			<td class="ibtSeparator grey">
				<div style=" width:<%= breite %>%">
					<%= start1 = start1 + 1 %>
				</div>
			</td>
		<% end %>
	  </tr>

	  <tr>
		<td class="grey">Matrix</td>
		<% @panel.normalsources[0..15].each do |@source| %>
		<td class="ibtKey grey">
			<% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
			<div id="kv_<%=@source.id.to_s%>" style="width:<%= breite %>%">
				<% if kv_select.nil?%>
					____
				<%else%>
					<%if !@source.matrix.nil? && !@source.matrix.blank? %>
						<% kvlink = Kreuzschiene.getMatrix(kv_select, @system).name %>
					<%else%>
						<% kvlink = "____" %>
					<%end%>
					<%= link_to_remote(kvlink, :update => "kv_" + @source.id.to_s,
						:url => { :controller => :sources, :action => :kv_dropdowns, :id => @source.id, :kv => kv_select, :bdtype_id => @panel.bdtype_id, :display => session[:display] }) %>
				<%end%>
			</div>
		</td>
		<% end %>
	  </tr>

	  <tr>
		<td class="grey">Belegung</td>
		<% @panel.normalsources[0..15].each do |@source| %>
		<td class="ibtKey grey">
		  <% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
		  <div id="s_<%= @source.id.to_s %>" style="width:<%= breite %>%">
			<% if kv_select.nil? %>
				____
			<%else%>
				<%
				  tlink = @source.sourcename5stellig(kv_select, @system) 
				  tlink = "____" if tlink.nil? 
				%>
				<%= link_to_remote(tlink,
					:update => "s_" + @source.id.to_s,
					:url =>{ :controller=>:sources, :action=>:dropdowns, :id=>@source.id, :kv=>kv_select, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
			<%end%>
		  </div>
		</td>
		<% end %>
	  </tr>

<% start1=16
	start2=16
	cnt = 1
	15.times do
%>

	  <%if start2%32==0%> 
		<tr>
			<td colspan="17" class="ibtSubTitle">Page <%=cnt+=1%></td>
		</tr>
	  <%end%>
	  <tr>
		<td class="ibtTitleborder grey">Taste Nr.</td>

		<% 16.times do %>
		  <td class="ibtSeparator grey">
		  	<div style="width:<%= breite %>%"><%= start1 = start1 + 1 %></div>
		  </td>
		<% end %>

	  </tr>

	  <tr>
		<td class="grey">Matrix</td>

		<% @panel.normalsources[start2 .. start2+15].each do |@source| %>
		  <td class="ibtKey grey">
		  <% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
			<div id="kv_<%=@source.id.to_s%>" style="width:<%= breite %>%">
				<% if kv_select.nil?%>
					____
				<%else%>
					<%if !@source.matrix.nil? && !@source.matrix.blank? %>
						<% kvlink = Kreuzschiene.getMatrix(kv_select, @system).name %>
					<%else%>
						<% kvlink = "____" %>
					<%end%>
					<%= link_to_remote(kvlink,
					:update => "kv_" + @source.id.to_s,
					:url =>{ :controller=>:sources, :action=>:kv_dropdowns, :id=>@source.id, :kv=>kv_select, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
				<%end%>
			</div>
		  </td>
		<% end %>
	  </tr>

	  <tr>
		<td class="grey">Belegung</td>
		<% @panel.normalsources[start2 .. start2+15].each do |@source| %>
		 <td class="ibtKey grey">
		 <% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
		  <div id="s_<%= @source.id.to_s %>">
			<% if kv_select.nil? %>
					____
			<%else%>
				<% tlink = @source.sourcename5stellig(kv_select, @system) 
				   tlink = "____" if tlink.nil? or tlink=="" 
				%>
				<%= link_to_remote(tlink,
					:update => "s_" + @source.id.to_s,
					:url =>{ :controller=>:sources, :action => :dropdowns, :id=>@source.id, :kv =>kv_select, :bdtype_id => @panel.bdtype_id, :display => session[:display] }) %>
			<%end%>

		  </div>
		</td>
		<% end %>
	  </tr>
<% 
    start2 = start2 + 16
    end  %>
    </table></td>
  </tr>
</table>
<br/>

<p>  
  <table width="1000" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
    <tr>
      <td class="ibtKey">
          <%= @panel.nummer %> &nbsp;&nbsp;&nbsp; <%= @panel.name8stellig %> &nbsp;&nbsp;&nbsp; <%= @panel.name4stellig %> &nbsp;&nbsp;&nbsp; Unit: <%= @panel.unit %> &nbsp;&nbsp;&nbsp; Port: <%= @panel.port %>
      </td>
    </tr>
  </table>
</p>
<br/>

<br/>
<table border="0" cellpadding="0" cellspacing="0" >
  <tr>
	<td>
	  <%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'splits', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button', :class => 'panel-button'} %> 
	</td>

	<td>
	  <%= button_to "Clear Quellen", {:controller => "bediengeraets", :action=>"clear_section", :part=>'splits', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Quellen')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button'} %>
	</td>

	<td style="width:250px;" class="btn-space">
	  <%=render :partial => "shared/add_split_quelle"%>
	</td>

	<td style="width:250px;">
		<%=render :partial => "shared/remove_split_quelle"%>
	</td>
	<td style="width:350px;">
		<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
		<table width="100%">
		<tr>
			<td>
				<strong>Label: </strong>
				<%= select :bediengeraets, :label_split, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_split}, {:onchange=>"document.getElementById('submit1').click();"}%>
			</td>
			<td style="width:200px;">
				<strong>Font: </strong>
				<%=select :bediengeraets, :font_split, @quellen_font,{:selected => @panel.font_split.to_s}, {:onchange=>"document.getElementById('submit1').click();"}%>	
			</td>
			<input type="image" src="/images/blank.png" id="submit1" width="0" height=0>
		</tr>
		</table>		
		<%end%>
	</td>

  </tr>
</table>
<br/>

  
<!-- Splitquellen -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Quelle Splitbetrieb</td>
  </tr>
  <tr>
    <td>
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">
      <tr>
        <td class="ibtTitleborder grey">Taste Nr.</td>
         <% start1 = 0
            16.times do %>
         <td class="ibtSeparator grey">
			<div style="width:<%= breite %>%">
				<%= start1 = start1 + 1 %>
			</div>
		 </td>
         <% end %>
      </tr>
  
      <tr>
        <td class="grey">Matrix</td>

        <% @panel.splitsources[0..15].each do |@source| %>
          <td class="ibtKey grey">
          <% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
            <div id="kv_<%=@source.id.to_s%>" style="width:<%= breite %>%"> 
                <% if kv_select.nil? %>
					____
				<%else%>
					<% kvlink = Kreuzschiene.getMatrix(kv_select, @system) %>
					<%= link_to_remote(kvlink.name,
					:update => "kv_" + @source.id.to_s,
					:url =>{ :controller=>:sources, :action=>:kv_dropdowns, :id=>@source.id, :kv=>kv_select, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
				<%end%>

            </div>
          </td>
        <% end %>

      </tr>
      
      <tr>
        <td class="grey">Belegung</td>
        <% @panel.splitsources[0..15].each do |@source| %>
        <td class="ibtKey grey">
        <% kv_select = getTypeSourceMatrix(@source.matrix, @panel.normalquellen_kv_id, @system) %>
          <div id="s_<%= @source.id.to_s %>">
            <% if kv_select.nil? %>
					____
			<%else%>
				<% tlink = @source.sourcename5stellig(kv_select, @system) 
					tlink = "____" if tlink.nil? 
				%>
				<%= link_to_remote(tlink,
					 :update => "s_" + @source.id.to_s,
					 :url =>{ :controller=>:sources, :action => :dropdowns, :id=>@source.id, :kv=>kv_select, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
			<%end%>

          </div>
        </td>
        <% end %>
      </tr>
    </table> </td>
  </tr>
</table>

<!-- Senke -->
<br/>
<table border="0" cellpadding="0" cellspacing="0" >
  <tr>
	<td>
	  <%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'senken', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button', :class => 'panel-button'} %>
	</td>

	<td>
	  <%= button_to "Clear Senken", {:controller => "bediengeraets", :action=>"clear_section",  :part=>'senken', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Senken')){$('div-loader-1').show();}else{return false;}", :class => 'panel-button'} %>
	</td>

	<td style="width:250px;" class="btn-space">
	  <%=render :partial => "shared/add_senke"%>
	</td>

	<td style="width:250px;">
		<%=render :partial => "shared/remove_senke"%>
	</td>
	<td>
		<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
		<table width="100%">
		<tr>
			<td>
				<strong>Label: </strong>
				<%= select :bediengeraets, :label_senken, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_senken}, {:onchange=>"document.getElementById('submit2').click();"}%>
			</td>
			<td style="width:200px;">
				<strong>Font: </strong>
				<%=select :bediengeraets, :font_senken, @senken_font,{:selected => @panel.font_senken.to_s}, {:onchange=>"document.getElementById('submit2').click();"}%>	
			</td>
			<input type="image" src="/images/blank.png" id="submit2" width="0" height=0>
		</tr>
		</table>		
		<%end%>
	</td>
  </tr>
</table>
<br/>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Senke</td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">
	<%
	  start1 = 0
	  innercounter = 0
	  cnt = 0
	  2.times do
	%>

	  <tr>
		<td colspan="17" class="ibtSubTitle">Page <%=cnt+=1%></td>
	  </tr>

	  <tr>
		<td width="50" class="ibtTitleborder grey">Taste Nr.</td>
		<% 16.times do %>
		<td class="ibtSeparator grey">
			<div style="width:<%=breite%>%"><%= start1 = start1 + 1 %></div>	</td>
		<% end %>
	  </tr>

      <tr>
        <td class="grey">Matrix</td>

		<% @panel.typetargets[innercounter..innercounter+14].each do |@target| %>
		  <td class="ibtKey grey">
		  <% kv_select = getTypeTargetMatrix(@target.matrix, @panel.normalquellen_kv_id, @system) %>
			<div id="kvt_<%=@target.id%>" style="width:<%= breite %>%"> 
				<% if kv_select.nil? %>
					____
				<%else%>
					<% kvlink = Kreuzschiene.getMatrix(kv_select, @system.id) %>
					<%= link_to_remote(kvlink.name,
						:update => "kvt_" + @target.id.to_s,
						:url =>{ :controller=>:targets, :action => :kv_dropdowns, :id=>@target.id, :kv => kv_select, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
				<%end%>

            </div>
          </td>
        <% end %>

      </tr>

      <tr>
        <td class="grey">Belegung</td>
        <% @panel.typetargets[innercounter..innercounter+14].each do |@target| %>
        <td class="ibtKey grey">
        <% kv_select = getTypeTargetMatrix(@target.matrix, @panel.normalquellen_kv_id, @system) %>
          <div id="t_<%= @target.id.to_s %>">
				<% if kv_select.nil? %>
					____
				<%else%>
				  <% tlink = @target.targetname5stellig(kv_select, @system) 
					 tlink = "____" if tlink.nil? 
				  %>
				  <%= link_to_remote(tlink,
					:update => "t_" + @target.id.to_s,
					:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>kv_select, :display=>session[:display] }) %>
				<%end%>
          </div>
        </td>
        <% end %>
        <td class="ibtKey">
          <div id="t_<%= @target.id.to_s %>">
              Shift
          </div>
        </td>
      </tr>
      
     
   <% 
        innercounter = innercounter + 15
        end 
   %>
      
    </table></td>
  </tr>
</table>
