<% breite=75 %>
<%= render(:partial => "/shared/typheader", :locals => { :panel=>@panel } )%><br/>
<% height = get_panel_spinner_height(@panel.bdtype_id) %>

<div style="display:none;" id="div-loader" class="relative">
    <div class="loader-home" style="height:<%=height%>px;"> 
        <img alt="Loading..." src="/images/ajax-loader.gif"> 
    </div>
</div>

<table border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td>
			<%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'quellen', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader').show();}", :class => 'panel-button'} %>
		</td>

		<td>
			<%= button_to "Clear Quellen", {:controller => "bediengeraets", :action=>"clear_section", :part=>'quellen', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Quellen')){$('div-loader').show();}", :class => 'panel-button'} %>
		</td>

		<td style="width:250px;  padding-left:100px;">
			<%=render :partial => "shared/add_normal_quelle"%>
		</td>

		<td style="width:250px;">
			<%=render :partial => "shared/remove_normal_quelle"%>
		</td>
		<td style="width:350px;">
			<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
			<table width="100%">
			<tr>
				<td>
					<strong>Label: </strong>
					<%= select :bediengeraets, :label_quellen, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_quellen}, {:onchange=>"document.getElementById('submit').click();"}%>
				</td>
				<td style="width:200px;">
					<strong>Font: </strong>
					<%=select :bediengeraets, :font_quellen, @quellen_font,{:selected => @panel.font_quellen.to_s}, {:onchange=>"document.getElementById('submit').click();"}%>
				</td>
				<input type="image" src="/images/blank.png" id="submit" width="0" height=0>
			</tr>
			</table>		
			<%end%>
		</td>
	</tr>
</table>
<br/>

<!-- Normalquellen -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Quelle Normalbetrieb</td>
  </tr>
  <tr>
    <td class="ibtSubTitle">Page 1</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">

      <tr>
        <td class="ibtSeparator grey">Taste Nr.</td>
        <% start1 = 0
        16.times do %>
            <td class="ibtSeparator grey">
				<div style="width:<%= breite %>px">
					<%= start1 = start1 + 1 %>
				</div>
			</td>
        <% end %>
      </tr>
  
      <tr>
        <td class="ibtKey grey">Belegung</td>
        <% @panel.normalsources[0..15].each do |@source| %>
        <td class="ibtKey grey">
          <div id="s_<%= @source.id.to_s %>">
            <% tlink = @source.sourcename5stellig(@panel.normalquellen_kv_id, @panel.system_id) if !@panel.normalquellen_kv_id.nil?
               tlink = "____" if tlink.nil? 
            %>
			<% if @panel.normalquellen_kv_id.nil? %>
            	____
			<% else %>
				<%= link_to_remote(tlink, :update => "s_" + @source.id.to_s,
					:url =>{ :controller=>:sources, :action => :dropdowns, :id=>@source.id, :kv=>@panel.normalquellen_kv_id, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
			<% end %>
          </div>
        </td>
        <% end %>
      </tr>
 
 
 
 <% start1=16
    start2=16
    cnt=1
    15.times do
 %>
     
      <%if start2%32==0%> 
        <tr>
            <td colspan="17" class="ibtSubTitle">Page <%=cnt+=1%></td>
        </tr>
      <%end%>
       <tr>
        <td class="ibtSeparator grey">Taste Nr.</td>
        
        <% 16.times do %>
          <td class="ibtSeparator grey"><div style="width:<%= breite %>px"><%= start1 = start1 + 1 %></div></td>
        <% end %>

      </tr>

      
      <tr>
        <td class="ibtKey grey">Belegung</td>
        <% @panel.normalsources[start2 .. start2+15].each do |@source| %>
         <td class="ibtKey grey">
          <div id="s_<%= @source.id.to_s %>">
            <% tlink = @source.sourcename5stellig(@panel.normalquellen_kv_id, @panel.system_id) if !@panel.normalquellen_kv_id.nil?
               tlink = "____" if tlink.nil? or tlink=="" 
            %>
			<% if @panel.normalquellen_kv_id.nil? %>
				____
			<% else %>
          		<%= link_to_remote(tlink, :update => "s_" + @source.id.to_s,
						:url =>{ :controller=>:sources, :action => :dropdowns, :id=>@source.id, :kv=>@panel.normalquellen_kv_id, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
			<% end %>
          </div>
        </td>
        <% end %>
      </tr>
 <% 
    start2 = start2 + 16
    end  %>     
    </table></td>
  </tr>
</table>
<br/>

<p>  
  <table width="1000" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
    <tr>
      <td class="ibtKey">
          <%= @panel.nummer %> &nbsp;&nbsp;&nbsp; <%= @panel.name8stellig %> &nbsp;&nbsp;&nbsp; <%= @panel.name4stellig %> &nbsp;&nbsp;&nbsp; Unit: <%= @panel.unit %> &nbsp;&nbsp;&nbsp; Port: <%= @panel.port %>
      </td>
    </tr>
  </table>
</p>
<br/>

<br/>
<table border="0" cellpadding="0" cellspacing="0" >
  <tr>
	<td>
		<%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'splits', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader').show();}", :class => 'panel-button'} %>
	</td>

	<td>
		<%= button_to "Clear Quellen", {:controller => "bediengeraets", :action=>"clear_section", :part=>'splits', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Quellen')){$('div-loader').show();}", :class => 'panel-button'} %>
	</td>

	<td style="width:250px;  padding-left:100px;">
		<%=render :partial => "shared/add_split_quelle"%>
	</td>

	<td style="width:250px;">
		<%=render :partial => "shared/remove_split_quelle"%>
	</td>
	<td style="width:350px;">
		<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
		<table width="100%">
		<tr>
			<td>
				<strong>Label: </strong>
				<%= select :bediengeraets, :label_split, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_split}, {:onchange=>"document.getElementById('submit1').click();"}%>
			</td>
			<td style="width:200px;">
				<strong>Font: </strong>
				<%=select :bediengeraets, :font_split, @quellen_font,{:selected => @panel.font_split.to_s}, {:onchange=>"document.getElementById('submit1').click();"}%>
			</td>
			<input type="image" src="/images/blank.png" id="submit1" width="0" height=0>
		</tr>
		</table>		
		<%end%>
	</td>
  </tr>
</table>
<br/>

  
<!-- Splitquellen -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Quelle Splitbetrieb</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">

      <tr>
        <td class="ibtSeparator grey">Taste Nr.</td>
         
         <% start1 = 0
            16.times do %>
         <td class="ibtSeparator grey"><div style="width:<%= breite %>px"><%= start1 = start1 + 1 %></div></td>
         <% end %>
      </tr>
  
      <tr>
        <td class="ibtKey grey">Belegung</td>
        <% @panel.splitsources[0..15].each do |@source| %>
        <td class="ibtKey grey">
          <div id="s_<%= @source.id.to_s %>">
             <% tlink = @source.sourcename5stellig(@panel.normalquellen_kv_id, @panel.system_id) if !@panel.normalquellen_kv_id.nil?
                tlink = "____" if tlink.nil? 
            %>
          	<% if @panel.normalquellen_kv_id.nil? %>
				____
			<% else %>
				<%= link_to_remote(tlink, :update => "s_" + @source.id.to_s,
						:url =>{ :controller=>:sources, :action => :dropdowns, :id=>@source.id, :kv=>@panel.normalquellen_kv_id, :bdtype_id=>@panel.bdtype_id, :display=>session[:display] }) %>
			<% end %>

          </div>
        </td>
        <% end %>
      </tr>
    </table> </td>
  </tr>
</table>

<!-- Senke -->
<br/>
<table border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td>
      <%= button_to "1:1 Belegung", {:action=>"oneonone", :part=>'senken', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich die Tastenzuordnung 1:1 anwenden')){$('div-loader').show();}", :class => 'panel-button'} %>
    </td>

	<td>
		<%= button_to "Clear Senken", {:controller => "bediengeraets", :action=>"clear_section",  :part=>'senken', :id=>@panel}, {:onclick => "if (confirm('Wollen Sie wirklich auf Clear Senken')){$('div-loader').show();}", :class => 'panel-button'} %>
	</td>


    <td style="width:250px; padding-left:100px;">
      <%=render :partial => "shared/add_senke"%>
    </td>

	<td style="width:250px;">
	  <%=render :partial => "shared/remove_senke"%>
	</td>
	<td>
		<%form_remote_tag :url => {:controller => 'bediengeraets', :action => 'update_normalquelle', :id => @panel.id} do%>
		<table width="100%">
		<tr>
			<td>
				<strong>Label: </strong>
				<%= select :bediengeraets, :label_senken, (1..4).to_a.map{|x| ["Label #{x}",x]}, {:selected => @panel.label_senken}, {:onchange=>"document.getElementById('submit2').click();"}%>
			</td>
			<td style="width:200px;">
				<strong>Font: </strong>
				<%=select :bediengeraets, :font_senken, @senken_font,{:selected => @panel.font_senken.to_s}, {:onchange=>"document.getElementById('submit2').click();"}%>
			</td>
			<input type="image" src="/images/blank.png" id="submit2" width="0" height=0>
		</tr>
		</table>		
		<%end%>
	</td>
	<td>
	<%form_remote_tag :url => {:controller => 'typ5s', :action => 'update_function_keys', :id => @panel.id} do%>
		<table>
		<tr>
			<%=hidden_field_tag :id, params[:id]%>
			<td>
				<%if !@panel_function.nil? && @panel_function.family.to_i==1%>
					<%=check_box_tag :family, "1", true, :onclick=>"document.getElementById('submit_function').click();"%><strong>Family</strong>
				<%else%>
					<%=check_box_tag :family, "1", false, :onclick=>"document.getElementById('submit_function').click();"%><strong>Family</strong>
				<%end%>
			</td>
			<td>
				<%if !@panel_function.nil? && @panel_function.audis.to_i==1%>
					<%=check_box_tag :audis, "1", true, :onclick=>"document.getElementById('submit_function').click();"%><strong>Audis</strong>
				<%else%>
					<%=check_box_tag :audis, "1", false, :onclick=>"document.getElementById('submit_function').click();"%><strong>Audis</strong>
				<%end%>
			</td>
			<input type="image" src="/images/blank.png" id="submit_function" width="0" height=0 onclick="$('div-loader').show();">
		</tr>
		</table>
	<%end%>
	</td>
  </tr>
</table>
<br/>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentBlockTable">
  <tr>
    <td class="ibtTitle">Senke</td>
  </tr>
  <tr>
    <td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="ibtAssignmentTable">

    <% 
      start1 = 0
      innercounter = 0
      cnt=0

      Global::TYP5_SENKEN_ROWS.times do
    %> 

    <tr>
      <td colspan="17" class="ibtSubTitle">Page <%=cnt+=1%></td>
    </tr>
    <tr>
        <td class="ibtSeparator grey">Taste Nr.</td>
        <% 16.times do %>
        <td class="ibtSeparator grey">
            <div style="width:<%= breite %>px"> 
                <%= start1 = start1 + 1 %> 
            </div>
        </td>
        <% end %>
      </tr>
      <tr>
        <td class="ibtKey grey">Belegung</td>
		<%if @panel_function.nil? || (@panel_function.family==0 && @panel_function.audis==0)%>
          <% @panel.typetargets[innercounter..innercounter+14].each do |@target| %>
          <td class="ibtKey grey">
            <div id="t_<%= @target.id.to_s %>">
            <%  kv_id = @target.bediengeraet.normalquellen_kv_id
                tlink = @target.targetname5stellig(kv_id, @system) if !kv_id.nil?
               tlink = "____" if tlink.nil? 
            %>
            <% if kv_id.nil? %>
            	____
			<% else %>
				<%= link_to_remote(tlink, :update => "t_" + @target.id.to_s,
              		:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>@panel.normalquellen_kv_id, :display=>session[:display] }) %>
			<% end %>
            </div>
          </td>
          <% end %>
          <td class="ibtKey">
            <div id="t_#{@target.id.to_s}">
                Shift
            </div>
          </td>
			<%innercounter = innercounter + 15%>
		<%elsif @panel_function.family==1 && @panel_function.audis==0%>
          <% @panel.typetargets[innercounter..innercounter+13].each do |@target| %>
          <td class="ibtKey grey">
            <div id="t_<%= @target.id.to_s %>">
            <%  kv_id = @target.bediengeraet.normalquellen_kv_id
                tlink = @target.targetname5stellig(kv_id, @system) if !kv_id.nil?
               tlink = "____" if tlink.nil? 
            %>
            <% if kv_id.nil? %>
            	____
			<% else %>
				<%= link_to_remote(tlink, :update => "t_" + @target.id.to_s,
              		:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>@panel.normalquellen_kv_id, :display=>session[:display] }) %>
			<% end %>
            </div>
          </td>
          <% end %>
		  <td class="ibtKey">
			Family
		  </td>
          <td class="ibtKey">
            <div id="t_#{@target.id.to_s}">
                Shift
            </div>
          </td>
		  <%innercounter = innercounter + 14%>
		<%elsif @panel_function.family==0 && @panel_function.audis==1%>
			<% @panel.typetargets[innercounter..innercounter+14].each_with_index do |@target, index| %>
				<%if (index+1) % 14==0%>
				  <td class="ibtKey">
					Audis
				  </td>
				<%elsif (index+1) % 15==0%>	
					<%@target = @panel.typetargets[(innercounter + 16) -3]%>
					<td class="ibtKey grey">
						<div id="t_<%= @target.id.to_s %>">
						<%  kv_id = @target.bediengeraet.normalquellen_kv_id
						    tlink = @target.targetname5stellig(kv_id, @system) if !kv_id.nil?
						   tlink = "____" if tlink.nil? 
						%>
						<% if kv_id.nil? %>
							____
						<% else %>
							<%= link_to_remote(tlink, :update => "t_" + @target.id.to_s,
						  		:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>@panel.normalquellen_kv_id, :display=>session[:display] }) %>
						<% end %>
						</div>
					</td>
				<%else%>
					<td class="ibtKey grey">
						<div id="t_<%= @target.id.to_s %>">
						<%  kv_id = @target.bediengeraet.normalquellen_kv_id
						    tlink = @target.targetname5stellig(kv_id, @system) if !kv_id.nil?
						   tlink = "____" if tlink.nil? 
						%>
						<% if kv_id.nil? %>
							____
						<% else %>
							<%= link_to_remote(tlink, :update => "t_" + @target.id.to_s,
						  		:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>@panel.normalquellen_kv_id, :display=>session[:display] }) %>
						<% end %>
						</div>
					</td>
				<%end%>
			<%end%>
			<td class="ibtKey">
				Shift
			</td>
			<%innercounter = innercounter + 14%>
		<%elsif @panel_function.family==1 && @panel_function.audis==1%>
			<% @panel.typetargets[innercounter..innercounter+12].each do |@target| %>
			<td class="ibtKey grey">
				<div id="t_<%= @target.id.to_s %>">
					<%  kv_id = @target.bediengeraet.normalquellen_kv_id
					tlink = @target.targetname5stellig(kv_id, @system) if !kv_id.nil?
					tlink = "____" if tlink.nil? 
					%>
					<% if kv_id.nil? %>
						____
					<% else %>
						<%= link_to_remote(tlink, :update => "t_" + @target.id.to_s,
						:url =>{ :controller=>:targets, :action => :dropdowns, :id=>@target.id, :bdtype_id=>@panel.bdtype_id, :kv=>@panel.normalquellen_kv_id, :display=>session[:display] }) %>
					<% end %>
				</div>
			</td>
			<% end %>
			<td class="ibtKey">
				Audis
			</td>
			<td class="ibtKey">
				Family
			</td>
			<td class="ibtKey">
				Shift
			</td>		
			<%innercounter = innercounter + 13%>
		<%end%>
      </tr>

   <%end%>
      
    </table></td>
  </tr>
</table>
