<%#  @system = System.find(params[:id]) %>
<table width="100%">
  <tr>
	<td valign="top">
	  <fieldset>
		<h2>System - Unit</h2>
		<table cellspacing="0">
		  <tr bgcolor="white">
			<th width="80">Name<br/>&nbsp;</th>
			<th width="120">IP-Adresse<br/>&nbsp;</th>
		  </tr>
		</table>
		<div style="width:100%; height:220px; overflow:auto;">
			<% @system.frames.each do |@frame| %>
			  <% form_remote_tag :url => {:controller=>'frames', :action =>'update'} do %>
				<table cellspacing="0">
				  <tr>
					<td width="80" align="center" valign="top">
						<%= hidden_field 'frame', :id, :id => @frame %>
						UNIT <%= @frame.intnummer %>
					</td>
					<td width="120" align="center" valign="top">
						<%= text_field('frame', :ipadresse, {:size=>12, :onchange=>"document.getElementById('s" + @frame.id.to_s + "').click();"}) %>
						<input type="image" src="/images/blank.png" id="s<%= @frame.id.to_s %>" />
					</td>
					<td>
						<table cellspacing="2" cellpadding='0' border='0' style="border:1px solid #000;">

							<tr>
								<td width="20px" align="center" style="border-right:1px solid #fff;" > <b class="small-lable">TL&nbsp;</b> </td>
								<% evens = (1..Global::MAX_PORT).to_a.mod_val(2, 0) %>
								<% evens.each do |p|%>
									<td width="60px" valign="top" align="center" style="border-right:1px solid #fff;" > 
										<b style="color:#777;"> Port <%=p%> </b>
										<p style="margin:0px; padding:0px;"> <%=get_port_user(@frame.intnummer, p)%> </p>
									</td>
								<% end %>
								<td width="20px" align="center"> <b class="small-lable">TR&nbsp;</b> </td>
							</tr>
							<tr>
								<td width="20px" align="center" style="border-right:1px solid #fff;" > <b class="small-lable">BL&nbsp;</b> </td>
								<% odds = (1..Global::MAX_PORT).to_a.mod_val(2, 1) %>
								<% odds.each do |p|%>
									<td width="60px" valign="top" align="center" style="border-right:1px solid #fff;"> 
										<b style="color:#777;"> Port <%=p%> </b>
										<p style="margin:0px; padding:0px;"> <%=get_port_user(@frame.intnummer, p)%> </p>
									</td>
								<% end %>
								<td width="20px" align="center"> <b class="small-lable">BR&nbsp;</b> </td>
							</tr>

						</table>
					</td>
				  </tr>
				</table>
			  <% end  %>
			<% end %>
		</div>
	  </fieldset>
	  <br/>
	</td>
  </tr>
</table>

<div id="kv_usernotice"> &nbsp; </div>
  <table width="100%">
  <tr>

	<td valign="top" >
	  <fieldset>
		<h2>System - Kreuzschienen</h2>
		<table cellspacing="0" width="100%">
		  <tr bgcolor="white">
			<th width="50px">Nr</th>
			<th width="75px">Name</th>
			<th width="80px">Function</th>
			<th width="80px">Type</th>
			<th width="95px">Protokoll</th>
			<th width="50px">Input</th>
			<th width="50px">Output</th>
			<th width="60px">Master-Unit</th>
			<th width="60px">Master-Port</th>
			<th width="95px">Master-IP</th>
			<th width="55px">Slave-Unit</th>
			<th width="55px">Slave-Port</th>
			<th width="95px">Slave-IP</th>
			<th width="30px">bearbeiten</th>
		  </tr>
		</table>

      <% @system.kreuzschienes.each do |@kreuzschiene| %>
        <% form_remote_tag :url => {:controller=>'kreuzschienes', :action =>'update'}, :html => {:id => @kreuzschiene.id} do %>
          <table cellspacing="0" width="100%">
            <tr>
              <td width="50px" align="center"> 
                <%= hidden_field 'kreuzschiene', :id, :id => @kreuzschiene %>
                KV_0<%= @kreuzschiene.intnummer %>
              </td>
              <td width="75px" align="center">
                <%= text_field 'kreuzschiene',:name, {:size=>8, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();"} %>
              </td>
              <td width="80px" align="center">
                <%= select('kreuzschiene', 'kr_type', @kr_type, { :include_blank => true, :selected => @kreuzschiene.kr_type.to_s}, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();" ) %>
              </td>
              <td width="80px" align="center"><!-- ||||| -->
                <div id="tpl_<%=@kreuzschiene.id%>" style="width:70px; background: none repeat scroll 0 0 #FFFFFF; height: 19px;">
                  <%=render :partial => "templates"%>
                </div>
              </td>
              <td width="95px" align="center">
                <%= select('kreuzschiene', 'protocol_id', @protocols, { :include_blank => true}, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();" ) %>
              </td>
              <td width="50px" align="center">
                <%= text_field 'kreuzschiene', :input, {:size=>3, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();"} %>
              </td>
              <td width="50px" align="center">
                <%= text_field 'kreuzschiene', :output, {:size=>3, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();"} %>
              </td>
              <td width="60px" align="center">
                <%= select('kreuzschiene', :unit, @units, { :include_blank => true}, :onchange=>"new Ajax.Request('/systems/get_ports?curr_port=#{nil}&curr_unit='+this.value+'&s_id=#{@kreuzschiene.id}&opt=1', {asynchronous:true, evalScripts:true}); return false;" ) %>
              </td>
              <td width="60px" align="center">
                <div class="cloneinput_bg" id="port1_<%=@kreuzschiene.id%>">
                  <% if @kreuzschiene.unit %>
                    <%= link_to_remote (@kreuzschiene.port || '--'), :url => {:controller => "systems", :action => "get_ports", :curr_unit => @kreuzschiene.unit, :curr_port => @kreuzschiene.port, :s_id => @kreuzschiene.id, :opt => 1 } %>
                  <% end %>
                </div>
              </td>
              <td width="95px" align="center">
                <%= text_field 'kreuzschiene', :ip , {:size=>12, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();", :onKeyPress => "return validateIP(event)", :maxlength => '15'} %>
              </td>
              <td width="55px" align="center">
                <%= select('kreuzschiene', :unit2, @units, { :include_blank => true}, :onchange=>"new Ajax.Request('/systems/get_ports?curr_port=#{nil}&curr_unit='+this.value+'&s_id=#{@kreuzschiene.id}&opt=2', {asynchronous:true, evalScripts:true}); return false;" ) %>
              </td>
              <td width="55px" align="center">
                <div class="cloneinput_bg" id="port2_<%=@kreuzschiene.id%>">
                  <% if @kreuzschiene.unit2 %>
                    <%= link_to_remote (@kreuzschiene.port2 || '--' ), :url => {:controller => "systems", :action => "get_ports", :curr_unit => @kreuzschiene.unit2, :curr_port => @kreuzschiene.port2, :s_id => @kreuzschiene.id, :opt => 2 } %>
                  <% end %>
                </div>
                <input type="image" src="/images/blank.png" id="k<%=@kreuzschiene.id.to_s%>" />
              </td>
              <td width="95px" align="center">
                <%= text_field 'kreuzschiene', :ip2 , {:size=>12, :onchange=>"document.getElementById('k" + @kreuzschiene.id.to_s + "').click();", :onKeyPress => "return validateIP(event)", :maxlength => '15'} %>
                <input type="image" src="/images/blank.png" id="k<%=@kreuzschiene.id.to_s%>" />
              </td>
              <td width="30px">
                <%= link_to "bearbeiten", :controller=>'kreuzschienes', :action=>'edit', :id => @kreuzschiene %>
              </td>
            </tr>
           </table>
        <% end %>
      <% end %>
        <br/>  <br/>  <br/>
      </fieldset>
    </td>
  </tr>
</table>
<div id="dv_usernotice"> &nbsp; </div>
<table width="100%">
  <tr>

	  <td valign="top" width="70%">  <br />
		<fieldset>
			<h2>Devices</h2>
			<table cellspacing="0" width="100%">
			  <tr bgcolor="white">
				<th width="50px">Nr</th>
				<th width="70px">Name</th>
				<th width="80px">Protokoll</th>
				<th width="60px">Unit</th>
				<th width="60px">Port</th>
				<th width="95px">IP</th>
				<th width="30px"></th>
			  </tr>
			</table>

		  <% @system.devices.each do |@device| %>
			<% form_remote_tag :url => {:controller=>'kreuzschienes', :action =>'update_device'}, :html => {:id => @device.id} do %>
			  <table cellspacing="0" width="100%">
				<tr>
				  <td width="50px" align="center"> 
					<%= hidden_field 'device', :id, :id => @device %>
					<%= @device.nummer %>
				  </td>
				  <td width="70px" align="center">
					<%= text_field 'device',:name, {:size=>8, :onchange=>"document.getElementById('d" + @device.id.to_s + "').click();"} %>
				  </td>
				  <td width="80px" align="center">
					<%= select('device', 'protocol_id', @protocols, { :include_blank => true}, :onchange=>"document.getElementById('d" + @device.id.to_s + "').click();" ) %>
				  </td>
				  <td width="60px" align="center">
					<%= select('device', :unit, @units, { :include_blank => true}, :onchange=>"new Ajax.Request('/systems/get_ports?curr_port=#{nil}&curr_unit='+this.value+'&s_id=#{@device.id}&opt=3', {asynchronous:true, evalScripts:true}); return false;" ) %>
				  </td>
				  <td width="60px" align="center">
					<div class="cloneinput_bg" id="port3_<%=@device.id%>">
					  <% if @device.unit %>
						<%= link_to_remote (@device.port || '--'), :url => {:controller => "systems", :action => "get_ports", :curr_unit => @device.unit, :curr_port => @device.port, :s_id => @device.id, :opt => 3 } %>
					  <% end %>
					</div>
				  </td>
				  <td width="95px" align="center">
					<%= text_field 'device', :ip , {:size=>12, :onchange=>"document.getElementById('d" + @device.id.to_s + "').click();", :onKeyPress => "return validateIP(event)", :maxlength => '15'} %>
					<input type="image" src="/images/blank.png" id="d<%=@device.id.to_s%>" />
				  </td>
				  <td width="30px">
					&nbsp;<%#= link_to "bearbeiten", :controller=>'devices', :action=>'edit', :id => @device %>
				  </td>
				</tr>
			   </table>
			<% end %>
		  <% end %>
			<br/>  <br/>  <br/>
		  </fieldset>
			<br/>
	  </td> 
  </tr>
</table>

<table width="50%">
  <tr>
	  <td valign="top" > <br />
		<fieldset>
			<h2>Tally Section</h2>
			<input type="checkbox" id="tally_option" <%=@opt_tally.value=="yes"? "checked='true'" : nil%> onclick="update_tally();" /> Force Mode Havarie<br />&nbsp;
			<table cellspacing="0" width="100%">
				<tr bgcolor="white">
					<th width="80">Name</th>
					<th width="50">Matrix</th>
					<th width="50">Output</th>
				</tr>
			</table>
			<% @system.tallies.each do |@tally| %>
			  <% form_remote_tag :url => {:controller=>'systems', :action =>'update_tally'} do %>
				<table cellspacing="0" border="0"  width="100%">
					<tr>
						<td width="80" align="left">
							<div style="width:100%;">
								<%= hidden_field 'tally', :id, :id => "tally_id" %>
								<%= text_field('tally', :name, {:readonly => true, :style=>"width:90%;", :onchange=>"document.getElementById('s" + @tally.id.to_s + "').click();"}) %>
							</div>
						</td>
						<td width="50" align="center">
							<div id="kv_<%=@tally.id%>" style="width:100%;">
								<%= select('tally', 'kreuzschiene_id', @kv, { :include_blank => true,:selected=>@tally.kreuzschiene_id}, {:style => "width:100%;",:onchange=>"document.getElementById('s" + @tally.id.to_s + "').click(); "} ) %>
							</div>
						</td>
						<td width="50" align="center">
							<div id="sn_<%=@tally.id%>" style="100%;">
								<%=	render :partial => "getSenke", :locals => { :kv_tally => @tally.kreuzschiene_id } %>
							</div>
							<input type="image" src="/images/blank.png" id="s<%= @tally.id.to_s %>" />
						</td>
					</tr>
				</table>
			  <% end  %>
			<% end %>
		</fieldset>
		<br/>
	  </td>

  </tr>
</table>

<script type="text/javascript">
	//<![CDATA[
	function update_tally(){
		var chk = document.getElementById("tally_option");
		var val = ""
		if (chk.checked == true){
			val = "yes"
		} else {
			val = "no"
		}

		new Ajax.Request('/options/update/1', {asynchronous:true, evalScripts:true, method:'post',parameters: {val: val}}); return false;
	}
	//]]>
</script>
